/*
 * Image
 * ----------------------------------------------------------------------------
 *
 */

.image-wrap {
  margin: var(--space-size-20) 0;

  @at-root {
    @include auto-margin-top-calculate(#{&});
  }
}

.image-box {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
  background-size: 40vw auto;

  @include animation(illustration-opacity-fade 0.2s ease-out 0s);

  * {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    margin: auto;
  }

  &.bg-trans {
    background: transparent;
  }
}

// animations
@include keyframes(illustration-opacity-fade) {
  0% {
    @include css3-prefix(transform, scale(0.5, 0.5));
    opacity: 0;
  }
  100% {
    @include css3-prefix(transform, scale(1, 1));
    opacity: 1;
  }
}

/* image-text-1 */
.image-text-1 {
  margin: 0 var(--space-size-15);

  @include image-text-base(1);

  ion-thumbnail {
    height: calc(var(--space-size-30) * 7);
  }

  p {
    margin-bottom: var(--space-size-10);
    &:nth-of-type(1) {
      margin-bottom: var(--space-size-15);
    }
  }
}

/* image-text-2 */
.image-text-2 {
  div {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: var(--space-size-15);
  }

  ion-thumbnail {
    min-width: 100px;
    min-height: 100px;
    margin-right: var(--space-size-20);
  }
}

/* image-text-3 */
.image-text-3 {
  div {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: var(--space-size-15);
  }

  ion-thumbnail {
    margin-right: var(--space-size-20);
  }

  .image-box {
    min-width: 50px;
  }

  .title {
    margin-top: auto;
    margin-bottom: auto;
  }
}

/* image-text-4 */
.image-text-4 {
  @extend .image-text-1;

  margin-top: var(--space-size-20);

  ion-thumbnail {
    height: auto;
  }

  .text-small {
    width: 100%;
    margin-top: auto;
    text-align: center;
  }
}
