/*
 * Image Base
 * ----------------------------------------------------------------------------
 *
 */

/* image-text-base */
@mixin image-text-base($size) {
  display: grid;
  grid-template-columns: repeat($size, 1fr);
  margin-top: var(--space-size-15);
  column-gap: var(--space-size-10);
  row-gap: var(--space-size-10);

  & > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    ion-thumbnail {
      width: 100%;
      margin-bottom: var(--space-size-15);
    }

    a {
      color: var(--ion-default-text-color);
      font-size: var(--font-size-small);
      text-align: left;
    }

    .landing-theme & {
      padding: var(--space-size-10);

      @include border($color: var(--ion-form-border-color));
      @include border-radius($radius: var(--space-size-15));
    }
  }
}
