/*
 * Input
 * ----------------------------------------------------------------------------
 *
 */

/* text-input-normal */
.text-input-normal {
  @extend .input-base;

  --padding-top: var(--space-size-15);
  --padding-end: var(--space-size-15);
  --padding-bottom: var(--space-size-15);
  --padding-start: var(--space-size-15);

  &.text-input-normal-card-code {
    width: calc(var(--space-size-60) * 2);
  }

  &.text-input-normal-postal-code {
    width: calc(var(--space-size-50) * 2);
  }

  &.text-input-normal-undercarriage-number.sc-ion-input-ios-h {
    @include font($font-family: $avenir-font, $size: var(--font-size-medium));
  }
}

/* text-area-input-normal */
.text-area-input-normal {
  @extend .input-base;
}

/* text-selection-input-normal */
.text-selection-input-normal {
  @extend .input-base;

  --padding-start: 0;

  ion-select {
    min-width: 100%;
  }
  select {
    min-width: 100%;
  }
}

/* text-search-input-normal */
.text-search-input-normal {
  @extend .input-base;
}

/* text-calendar-input-normal */
.text-calendar-input-normal {
  @extend .input-base;

  --padding-top: var(--space-size-20);
  --padding-end: var(--space-size-15);
  --padding-bottom: var(--space-size-20);
  --padding-start: var(--space-size-15);

  position: relative;
  display: block;
  width: 100%;
  margin: var(--space-size-20) 0;
  text-align: left;
  background: var(--ion-table-form-bg-color);

  &:after {
    display: block;
    width: var(--space-size-25);
    height: var(--space-size-25);
    background: url('assets/custom-ion-icons/ios-calendar-icon.svg') no-repeat 0
      0;
    background-size: var(--space-size-25) var(--space-size-25);
    content: '';

    @include position-absolute(
      calc(50% - 12px),
      var(--space-size-15),
      auto,
      auto
    );
  }
}

/* text-search-input-normal */
.time-input-normal {
  @extend .input-base;
  --padding-top: var(--space-size-15);
  --padding-end: var(--space-size-15);
  --padding-bottom: var(--space-size-15);
  --padding-start: var(--space-size-15);

  position: relative;
  display: block;
  width: 100%;
  line-height: 2.2em;
  text-align: left;
  background: var(--ion-color-custom-white);

  &:after {
    display: block;
    width: 17px;
    height: 10px;
    color: transparent;
    background-color: var(--ion-color-custom-dark-gold);
    opacity: 1;
    content: '';
    mask-repeat: no-repeat;

    @include css3-prefix(
      mask-image,
      url('assets/custom-ion-icons/ios-select-icon.svg')
    );

    @include position-absolute(
      calc(50% - 5px),
      var(--space-size-15),
      auto,
      auto
    );
  }

  input[type='time'] {
    &::-webkit-calendar-picker-indicator {
      z-index: 1;
      width: 25px;
      height: 25px;
      color: rgba(0, 0, 0, 0);
      opacity: 0;
      @include position-absolute(
        calc(50% - 15px),
        var(--space-size-10),
        auto,
        auto
      );
    }
  }
}

/* text-calendar-time-input-normal */
.text-calendar-time-input-normal {
  @extend .input-base;

  --padding-top: var(--space-size-20);
  --padding-end: var(--space-size-15);
  --padding-bottom: var(--space-size-20);
  --padding-start: var(--space-size-15);

  position: relative;
  display: block;
  width: 100%;
  margin: var(--space-size-20) 0;
  text-align: left;
  background: var(--ion-table-form-bg-color);

  &:after {
    display: block;
    width: var(--space-size-25);
    height: var(--space-size-25);
    background: no-repeat 0 0;
    background-size: var(--space-size-25) var(--space-size-25);
    content: '';

    @include position-absolute(
      calc(50% - 12px),
      var(--space-size-15),
      auto,
      auto
    );
  }
}
