.p-customer-plan {
  text-align: center;
  color: var(--ion-color-blue);
}

.span-margin-add {
  margin-top: 35px;
}

.div-recommend-message-transition {
  padding: 0px 0 5px 4px;
  display: flex;
  justify-content: space-between;
  background: #faf7f1;
  align-items: center;

  .div-recommend-message-detail-transition {
    background-color: white;
    padding: 8px;
    border-radius: 4px;
    flex-shrink: 1;
    flex-grow: 10;
    flex-basis: 0;
  }

  p {
    line-height: 16px;
    margin-bottom: 20px !important;
  }

  .div-recommend-message-link-transition {
    margin-top: 0px !important;
  }

  .div-recommend-message-img-transition {
    width: 44px;

    img {
      padding: 0;
      margin-left: 0px;
      display: block;
      width: 42px;
      margin: 0 auto;
      height: auto;
    }
  }
}

.div-recommend-message {
  padding: 0px 0 5px 4px;
  display: flex;
  justify-content: space-between;
  background: #faf7f1;
  align-items: center;

  p {
    padding: 8px;
    flex-shrink: 1;
    flex-grow: 10;
    flex-basis: 0;
    text-align: left;
    background-color: white;
    border-radius: 4px;
    line-height: 16px;
  }

  div {
    width: 44px;

    img {
      padding: 0;
      margin-left: 0px;
      display: block;
      width: 42px;
      margin: 0 auto;
      height: auto;
    }
  }
}

.div-pay-detail {
  margin-top: -15px !important;

  .div-pay-detail-coverage {
    padding-top: 15px !important;
    margin-top: 0 !important;

    div {
      #div2-style {
        justify-content: flex-start;
      }

      > img {
        height: 55px;
        width: 55px;
        padding: 0;
        max-width: 100%;
        display: block;
        margin-right: 10px;
      }

      a {
        ion-icon {
          fill: var(--ion-form-icon-color);
          width: calc(var(--space-size-20) + 4px);
          height: calc(var(--space-size-20) + 4px);
          padding-top: 1px;
          vertical-align: middle;
        }
      }
    }

    .amount-span {
      padding-top: 10px;
    }
  }
}

#dl-style {
  dt {
    width: 55%;
  }
}

#dd1-style {
  background: none;
  width: 14%;

  div {
    padding-right: 0;
    padding-left: 7px;
    margin: 0 !important;
    ion-button {
      margin: 0;

      ion-text {
        white-space: nowrap;
      }
    }
  }
}

#dd2-style {
  width: 31%;
  padding-right: 0;
  margin: 0 !important;
  padding-top: 6.581px;
  padding-bottom: 6.581px;

  div {
    padding-left: 8px;

    ion-button {
      --border-width: 2px;
      background: #003a77;
      overflow: hidden;
      border-radius: 5px;

      ion-text {
        color: white;
        white-space: nowrap;
      }
    }
  }
}

.main-service-list1 {
  margin-top: 20px !important;
  margin-bottom: 15px;

  ion-item-group {
    ion-item-divider {
      height: 35px !important;
      border: 0 !important;
      padding-left: 0 !important;
      margin-top: 0px !important;
      padding-top: 0px;
      padding-bottom: 1px;

      > ion-text {
        margin-bottom: 15px !important;
        margin-top: 25px;
      }

      ion-icon {
        margin-top: 0px;
        margin-bottom: 15px;
      }
    }

    .main-service-list1-hr1 {
      margin-bottom: 0px;
      margin-top: 0px;
    }
  }

  dl {
    border: 0 !important;
    padding: 0 0 15px 0 !important;
    padding-bottom: 0px !important;

    .div-first-line {
      text-align: center;
      padding-top: 15px;
      img {
        box-shadow: 0px 0px 0px 1px #003a77;
        border-radius: 4px;
      }
    }

    .div-second-line {
      padding-top: 15px;
      text-align: center;
      img {
        box-shadow: 0px 0px 0px 1px #003a77;
        border-radius: 4px;
      }
    }

    > div {
      display: flex;

      > div {
        flex: 1;
        position: relative;

        p {
          font-size: 14px;
          text-align: center;
          line-height: 16px;
        }
      }

      .service-item {
        margin: 0 15px;
      }

      .service-item-right {
        margin-right: 1px;
      }

      .service-item-left {
        margin-left: 1px;
      }
    }

    .main-service-list1-hr2 {
      margin-top: 15px;
      margin-bottom: 0px;
    }
  }
}

.main-service-list2 {
  margin-top: 25px !important;

  ion-item-group {
    ion-item-divider {
      border: 0 !important;
      padding-left: 0 !important;
      margin-top: 0px !important;
      padding-top: 0px;
      padding-bottom: 1px;

      > ion-text {
        margin-bottom: 15px !important;
        margin-top: 25px;

        > a {
          ion-icon {
            width: calc(var(--space-size-20) + 4px);
            height: calc(var(--space-size-20) + 4px);
            vertical-align: middle;
            fill: var(--ion-form-icon-color);
            padding-bottom: 1px;
          }
        }
      }

      .icon-accordion {
        margin-top: 0px;
        margin-bottom: 15px !important;
      }
    }

    .main-service-list2-hr1 {
      margin-bottom: 0px;
      margin-top: 0px;
    }
  }

  dl {
    border: 0 !important;
    padding: 0 0 15px 0 !important;

    .div-first-line {
      text-align: center;
      padding-top: 15px;
      img {
        box-shadow: 0px 0px 0px 1px #003a77;
        border-radius: 4px;
      }
    }

    .div-second-line {
      text-align: center;
      padding-top: 15px;
      img {
        box-shadow: 0px 0px 0px 1px #003a77;
        border-radius: 4px;
      }
    }

    > div {
      display: flex;

      > div {
        flex: 1;
        position: relative;

        p {
          font-size: 14px;
          text-align: center;
          line-height: 16px;
        }
      }

      .service-item {
        margin: 0 15px;
      }

      .service-item-right {
        margin-right: 1px;
      }

      .service-item-left {
        margin-left: 1px;
      }
    }
  }
}

.point-msg {
  margin-top: 15px !important;
  box-shadow: 0px 0px 0px 1px #dcd2be;
  border-radius: 4px;
  background: #f9f7f2 0% 0% no-repeat padding-box;

  ion-item-group {
    /** header */
    ion-item-divider {
      background-color: #faf7f1;
      border: 0 !important;
      padding-top: 0px;
      padding-bottom: 2px;

      ion-text {
        text-align: center;
        width: 100%;

        .point-msg-title-span1 {
          top: 1148px;
          left: 130px;
          width: 106px;
          height: 14px;
          text-align: center;
          font: normal normal normal 10px/16px Hiragino Sans;
          letter-spacing: 0px;
          color: #c0a56d;
          opacity: 1;
          font-family: "ヒラギノ角ゴ ProN", "HiraKakuProN", "ヒラギノ角ゴ Pro",
            "HiraKakuPro", "Hiragino Kaku Gothic ProN",
            "Hiragino Kaku Gothic Pro", "Hiragino Sans", Roboto, "Noto Sans",
            "Noto Sans CJK JP", "Noto Sans JP", system-ui, Verdana, "游ゴシック",
            YuGothic, "メイリオ", Meiryo, sans-serif;
        }

        .point-msg-title-span2 {
          top: 1164px;
          left: 97px;
          width: 181px;
          height: 19px;
          text-align: center;
          font: normal normal normal 14px/19px Hiragino Sans;
          letter-spacing: 0px;
          color: #111111;
          opacity: 1;
          font-family: "ヒラギノ角ゴ ProN", "HiraKakuProN", "ヒラギノ角ゴ Pro",
            "HiraKakuPro", "Hiragino Kaku Gothic ProN",
            "Hiragino Kaku Gothic Pro", "Hiragino Sans", Roboto, "Noto Sans",
            "Noto Sans CJK JP", "Noto Sans JP", system-ui, Verdana, "游ゴシック",
            YuGothic, "メイリオ", Meiryo, sans-serif;
        }
      }

      ion-icon {
        color: #c6a465;
        margin-right: 8px;
        margin-top: 11px;
        width: 24px;
        height: 24px;
      }

      // .ion-icon-class1 {
      //   color: #c6a465;
      //   margin-right: 8px;
      //   margin-top: 11px;
      // }

      // .ion-icon-class2 {
      //   color: #c6a465;
      //   margin-right: 8px;
      //   margin-top: 11px;
      //   transform: rotate(180deg);
      // }
    }

    /** body */
    ion-list {
      background: none;
      padding-top: 0px;
      padding-bottom: 0px;
      dl {
        border-bottom-width: 0px;
        padding-left: 11px;
        border-top-style: solid;
        border-top-color: #dcd2be;
        border-top-width: 1px;
        padding-top: 9px;
        padding-bottom: 0px;

        .point-div {
          display: flex;

          .point-number-message {
            flex: 1;
            position: relative;
            padding-bottom: 7px;

            .point-message {
              top: 0px;
              left: 144px;
              width: 6px;
              height: 16px;
              text-align: left;
              font: normal normal normal 12px/16px Hiragino Sans;
              letter-spacing: 0px;
              color: #111111;
              font-family: "ヒラギノ角ゴ ProN", "HiraKakuProN",
                "ヒラギノ角ゴ Pro", "HiraKakuPro", "Hiragino Kaku Gothic ProN",
                "Hiragino Kaku Gothic Pro", "Hiragino Sans", Roboto, "Noto Sans",
                "Noto Sans CJK JP", "Noto Sans JP", system-ui, Verdana,
                "游ゴシック", YuGothic, "メイリオ", Meiryo, sans-serif;

              span {
                top: 16px;
                left: 65px;
                width: 155px;
                height: 16px;
                text-align: left;
                font: normal normal normal 12px/16px Hiragino Sans;
                letter-spacing: 0px;
                color: #063b79;
                font-weight: bold;
                font-family: "ヒラギノ角ゴ ProN", "HiraKakuProN",
                  "ヒラギノ角ゴ Pro", "HiraKakuPro", "Hiragino Kaku Gothic ProN",
                  "Hiragino Kaku Gothic Pro", "Hiragino Sans", Roboto,
                  "Noto Sans", "Noto Sans CJK JP", "Noto Sans JP", system-ui,
                  Verdana, "游ゴシック", YuGothic, "メイリオ", Meiryo,
                  sans-serif;
              }
            }

            .point-number {
              top: 1381px;
              left: 24px;
              height: 18px;
              background: #c0a56d 0% 0% no-repeat padding-box;
              border-radius: 2px;
              opacity: 1;
              margin-bottom: 7px;

              span {
                padding-left: 11px;
                top: 1384px;
                left: 34px;
                width: 56px;
                height: 13px;
                text-align: left;
                font: normal normal bold 10px/13px Montserrat;
                letter-spacing: 0px;
                color: #ffffff;
                opacity: 1;
                display: table-cell;
                padding-top: 3px;
              }
            }

            .point-message-div {
              line-height: 16px;
            }
          }

          .img001 {
            padding: 0 9px 0 10px;
          }
        }
      }
    }
  }
}

.test-page {
  background: #fff !important;
  .btn {
    cursor: pointer;
  }
}

//result専用のclassでパッケージ化する
.official-approximation-result {
  .content-box {
    padding: 0 20px;
    @include pc {
      margin: 0 auto;
      max-width: 980px;
    }
  }
  ul.tab-button {
    display: flex;
    justify-content: space-between;
    margin-top: var(--space-size-55);
    @include pc {
      display: none;
    }
    li {
      margin-top: auto;
      border: 2px solid #d8d8d8;
      border-bottom: none;
      width: 48.5%;
      background: #eeeeee;
      border-radius: 10px 10px 0 0;
      min-height: 78px;
      display: flex;
      flex-direction: column;
      &.current {
        background: var(--ion-color-custom-dark-green);
        border-color: var(--ion-color-custom-dark-green);
        .tab-inner {
          color: #fff;
          .img {
            display: block;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, -24px);
          }
          h2 {
            padding-top: 30px;
          }
        }
      }
      .tab-inner {
        margin-top: auto;
        position: relative;
        padding: 0 12px 18px;
        display: flex;
        flex-direction: column;
        text-align: center;
        line-height: 1;
        color: #13a0ff;
        .img {
          display: none;
        }
        h2 {
          padding-top: 10px;
          font-size: 14px;
          font-weight: bold;
        }
        .total-price {
          font-size: 20px;
          font-weight: bold;
          letter-spacing: 0.5px;
        }
        .total-yen {
          font-size: 16px;
          font-weight: bold;
        }
      }
    }
  }

  .tab-content {
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    border: 2px solid var(--ion-color-custom-dark-green);
    @include pc {
      margin-top: var(--space-size-55);
      border: none;
    }

    .table-content {
      .tr {
        display: flex;
        flex-wrap: wrap;
        width: 100%;

        //共通th
        .th {
          width: 100%;
          font-weight: bold;
          .inner {
            padding: 16px 0 16px 16px;
            @include pc {
              padding: 16px;
            }
          }
          @include pc {
            width: 34%;
            box-sizing: border-box;
            border-right: 1px solid #d8d8d8;
            border-bottom: 1px solid #d8d8d8;
            border-left: 1px solid #d8d8d8;
            display: flex;
            align-items: center;
          }
        }
        //共通td
        .td {
          position: relative;
          width: 100%;
          vertical-align: bottom;
          display: none;
          justify-content: flex-end;
          align-items: center;
          .inner {
            padding: 16px 16px 16px 0;
            @include pc {
              padding: 16px;
            }
          }
          &.current {
            display: flex;
          }
          @include pc {
            width: 33%;
            box-sizing: border-box;
            border-right: 1px solid #d8d8d8;
            border-bottom: 1px solid #d8d8d8;
            display: flex;
          }

          //共通span
          span {
            display: inline-block;
            &.price {
              margin-right: 3px;
              @extend .font-medium-large;
              vertical-align: bottom;
            }
            &.yen {
              @extend .font-medium;
              vertical-align: bottom;
            }
          }
        }

        //共通label
        .ul-label {
          li {
            display: inline-block;
            margin-right: 10px;
            padding: 2px 10px;
            border-radius: 6px;
            font-weight: normal;
            @extend .font-medium;
            &.label-red {
              background: #fff;
              color: #f00;
            }
          }
        }

        //1行目
        &.tr-01 {
          .th {
            display: none;
            @include pc {
              display: flex;
              justify-content: center;
              align-items: center;
              border-left: 0;
              text-align: center;
              img {
                padding-top: 60px;
                width: 90%;
                height: auto;
              }
            }
          }
          .td {
            display: none;
            &.current {
              display: flex;
              flex-flow: column;
            }
            @include pc {
              display: flex;
              flex-flow: column;
            }

            .box-hd {
              display: none;
              @extend .font-extra-large;
              @include pc {
                display: block;
                padding: 16px 0;
                width: 100%;
                background: var(--ion-color-custom-dark-green);
              }
              h2 {
                padding: 0 16px;
                font-size: 24px;
                color: #fff;
                white-space: nowrap;
                line-height: 1;
              }
            }
            .box-text {
              padding: 16px 16px 0;
            }
            .box-price {
              padding: 16px;
              text-align: center;
              @include pc {
                display: none;
              }

              .dt-01 {
                @extend .font-medium-large;
                font-weight: bold;
              }

              span {
                line-height: 1;
              }
              .total-price {
                font-size: 40px;
                font-weight: bold;
                color: var(--ion-color-custom-dark-green);
                letter-spacing: 2px;
              }
              .total-yen {
                @extend .font-medium-large;
                color: var(--ion-color-custom-dark-green);
                font-weight: bold;
              }
              .split-price {
                margin-left: 5px;
                @extend .font-extra-large;
                color: var(--ion-color-custom-dark-green);
                font-weight: bold;
              }
              .split-yen {
                margin-right: 5px;
                @extend .font-medium;
                color: var(--ion-color-custom-dark-green);
                font-weight: bold;
              }
              .text-01 {
                @extend .font-medium;
                font-weight: bold;
              }
              .text-02 {
                @extend .font-medium;
              }
            }
            .box-btn {
              margin-top: auto;
              width: 100%;
              ul {
                padding: 8px 16px 16px;
                li {
                  width: 100%;
                  margin: 8px auto 0;
                  background: #f00;
                }
              }
            }
          }
        }

        //2行目
        &.tr-02 {
          .th {
            border-top: 2px solid #d8d8d8;
            border-bottom: 2px solid #d8d8d8;

            @include pc {
              padding: 12px 0;
              background: #eee;
              border-top: none;
              border-bottom: 1px solid #d8d8d8;
            }
            .inner {
              padding: 0;
              text-align: center;
              @include pc {
                display: flex;
                flex-flow: column;
                justify-content: space-between;
                padding: 16px;
                height: 100%;
                text-align: left;
              }
              span {
                line-height: 1;
              }
              .span-01 {
                @extend .font-extra-large;
              }
              .span-02 {
                display: block;
                padding: 16px 0;
                font-size: 16px;
                font-weight: normal;
                color: #13a0ff;
                @include pc {
                  padding: 0;
                }
              }
            }
          }
          .td {
            text-align: right;
            display: none; //SP時非表示(別位置に同じ別要素を表示される)
            @include pc {
              display: flex;
            }
            span {
              line-height: 1;
            }
            .total-price {
              font-size: 40px;
              font-weight: bold;
              color: var(--ion-color-custom-dark-green);
            }
            .total-yen {
              @extend .font-medium-large;
              color: var(--ion-color-custom-dark-green);
              font-weight: bold;
            }
            .split-price {
              margin-left: 5px;
              @extend .font-extra-large;
              color: var(--ion-color-custom-dark-green);
              font-weight: bold;
            }
            .split-yen {
              margin-right: 5px;
              @extend .font-medium;
              color: var(--ion-color-custom-dark-green);
              font-weight: bold;
            }
            .text-01 {
              @extend .font-medium;
              font-weight: bold;
            }
            .text-02 {
              @extend .font-medium;
            }
          }
        }
        //3-6行目
        &.tr-03,
        &.tr-04,
        &.tr-05,
        &.tr-06 {
          .th {
            width: 60%;
            border-bottom: 2px dotted #d8d8d8;
            @include pc {
              width: 34%;
            }
          }
          .td {
            width: 40%;
            font-weight: bold;
            border-bottom: 2px dotted #d8d8d8;
            @include pc {
              width: 33%;
            }
          }
        }
        &.tr-05 {
          .th,
          .td {
            border-bottom: 1px solid #d8d8d8;
          }
        }
        //6行目
        &.tr-06 {
          .th {
            border-bottom: none;
            background: #fcecec;
            @include pc {
              border-bottom: 1px solid #d8d8d8;
            }
          }
          .td {
            border-bottom: none;
            background: #fcecec;
            @include pc {
              border-bottom: 1px solid #d8d8d8;
              justify-content: flex-start;
            }
          }
        }
      }
    }
  }

  //sticky
  .sticky-test-box {
    overflow: scroll;
    width: 100%;
    background: #eee;
    height: 500px;
  }

  .sticky-object {
    width: 100%;
    background: #fff;
    position: fixed;
    top: -180px;
    left: 0;
    z-index: 10;
    transition: all 0.3s ease-out;
    @include pc {
      min-height: 140px;
      border-bottom: 2px solid #d8d8d8;
      box-shadow: 3px 1px 3px 3px rgba(0, 0, 0, 0.1);
    }
    &.show {
      top: 0;
    }
    .sticky-object-inner {
      padding: 0 20px;

      .sticky-tab-button {
        display: flex;
        box-sizing: border-box;
        box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.1);

        @include pc {
          display: none;
        }
        li {
          padding: 16px 0;
          width: 50%;
          text-align: center;
          background: #eeeeee;
          color: #0099ff;
          font-weight: bold;
          line-height: 1;
          &.current {
            background: var(--ion-color-custom-dark-green);
            color: #fff;
          }
        }
      }

      .table-content {
        .tr {
          display: flex;
          margin: 0 auto;
          min-height: 107px;
          border: 2px solid var(--ion-color-custom-dark-green);
          box-sizing: border-box;
          box-shadow: 0px 3px 3px 2px rgba(0, 0, 0, 0.1);
          @include pc {
            max-width: 980px;
            min-height: 140px;
            border: none;
            box-shadow: none;
          }
        }

        .th {
          display: none;
          @include pc {
            position: relative;
            display: flex;
            align-items: center;
            width: 34%;
            box-sizing: border-box;
            border-right: 2px solid #d8d8d8;
            border-left: 2px solid #d8d8d8;
            background: #f5f5f5;
            font-weight: bold;
          }
          .inner {
            p {
              position: absolute;
              left: 16px;
              top: 14px;
              font-size: 16px;
              span {
                font-size: 24px;
                line-height: 1;
              }
            }
            img {
              position: absolute;
              right: 16px;
              bottom: 16px;
              width: 135px;
              height: auto;
            }
          }
        }

        .td {
          position: relative;
          width: 100%;
          vertical-align: bottom;
          display: none;
          &.current {
            display: flex;
          }
          @include pc {
            width: 33%;
            box-sizing: border-box;
            border-right: 2px solid #d8d8d8;
            display: flex;
          }
          .inner {
            padding: 18px 20px;
            width: 100%;
            @include pc {
              border-top: 26px solid #28a69a;
            }
            .box-plan {
              display: flex;
              justify-content: space-between;
              align-items: center;
              line-height: 1;
              @include pc {
                margin-top: 4px;
              }
              .name {
                font-size: 16px;
                font-weight: bold;
                //pc過程
                @media screen and (min-width: 641px) and (max-width: 799px) {
                  font-size: 14px;
                }
              }
              .price {
                margin-top: -4px;
                font-size: 24px;
                font-weight: bold;
                color: #28a69a;
                vertical-align: middle;
                .yen {
                  font-size: 20px;
                  //pc過程
                  @media screen and (min-width: 641px) and (max-width: 799px) {
                    font-size: 16px;
                  }
                }
                //pc過程
                @media screen and (min-width: 641px) and (max-width: 799px) {
                  font-size: 20px;
                }
              }
            }
            .box-btn {
              display: flex;
              justify-content: space-between;
              line-height: 1;
              margin-top: 16px;
              .save {
                width: 30%;
                p {
                  width: 100%;
                  height: 42px;
                  border-radius: 6px;
                  background: #ddd;
                }
              }
              .apply {
                width: 66%;
                p {
                  width: 100%;
                  height: 42px;
                  border-radius: 6px;
                  background: #ddd;
                }
              }
            }
            .price-diff {
              position: absolute;
              right: 28px;
              top: -24px;
              @include pc {
                top: 5px;
              }
            }
          }
        }
      }
    }
  }
  .sticky-trigger {
    width: 100%;
    background: #0f0;
  }

  //accordion
  .ac-btn {
    cursor: pointer;
  }
  .ac-obj {
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: all 0.5s;
    max-height: 0;
    overflow: hidden;

    &.isOpen {
      max-height: 250px;
      transition: all 0.8s;
    }
  }

  .pc-only {
    display: none;
    @include pc {
      display: block;
    }
  }
  .sp-only {
    display: block;
    @include pc {
      display: none;
    }
  }
}

// add taku
// @include pc {
//   font-size: 24px;
// }

/************* Break Point *****************/
@mixin pc {
  @media (min-width: 641px) {
    @content;
  }
}

@mixin pc-middle {
  @media (min-width: 641px) and (max-width: 800px) {
    @content;
  }
}
