/*
 * Page
 * ----------------------------------------------------------------------------
 *
 */

.app-page {
  display: grid;
  grid-template-areas:
    'header'
    'content'
    'footer';
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  min-height: 100vh;

  .app-page-header {
    grid-area: header;
  }
  .app-page-content {
    grid-area: content;
  }
  .app-page-footer {
    grid-area: footer;
  }
}
