/*
 * Anchor List Box
 * ----------------------------------------------------------------------------
 *
 */

.anchor-list-box {
  ul {
    --gap: 15px;
    display: inline-flex;
    flex-wrap: wrap;
    width: calc(100% + var(--gap));
    margin: calc(-1 * var(--gap)) 0 0 calc(-1 * var(--gap));

    li {
      display: inline-block;
      margin: 0 0 7px 14px;

      a {
        @include font(
          $font-family: $hiragino-font,
          $size: var(--font-size-medium)
        );

        margin: 0 !important;

        ion-icon {
          width: 24px;
          height: 24px;
          padding-left: 5px;
          stroke: none;
        }
      }

      [link-green] {
        a {
          ion-icon {
            width: 24px;
            height: 24px;
            padding-left: 5px;
            fill: var(--ion-color-custom-dark-green);
            stroke: none;
          }
        }
      }
    }
  }
}
