/*
 * Form Box
 * ----------------------------------------------------------------------------
 *
 */

.frm-normal {
  margin: var(--space-size-15) 0 0 0;

  .frm-normal-tag,
  .frm-normal-header,
  .frm-normal-footer,
  .frm-normal-list {
    margin-top: var(--space-size-15);

    li {
      ion-icon {
        width: calc(var(--space-size-20) + 4px);
        height: calc(var(--space-size-20) + 4px);
        margin-left: var(--space-size-5);
        line-height: 16px;
        vertical-align: middle;
        fill: var(--ion-form-icon-color);
      }
    }
  }

  .frm-normal-footer {
    .text-info {
      .text-normal {
        a {
          ion-icon {
            margin-top: -4px;
          }
        }
      }
    }
  }

  ion-textarea {
    --padding-top: var(--space-size-10);
    --padding-end: var(--space-size-15);
    --padding-bottom: var(--spzce-size-10);
    --padding-start: var(--space-size-15);
  }

  .frm-normal-list,
  .frm-normal-input,
  ion-thumbnail {
    margin: var(--space-size-15) 0 0 0;
  }

  .frm-normal-input + .frm-normal-input {
    margin: var(--space-size-30) 0 0 0;
  }

  .frm-normal-tag {
    span {
      margin-right: var(--space-size-5);
    }
  }

  .frm-normal-input {
    ion-label {
      color: var(--ion-default-text-color);
      a {
        ion-icon {
          width: calc(var(--space-size-20) + 4px);
          height: calc(var(--space-size-20) + 4px);
          margin-top: -4px;
          margin-left: var(--space-size-5);
          line-height: 1rem;
          vertical-align: middle;
          cursor: pointer;
          fill: var(--ion-form-icon-color);
        }
      }
    }
  }

  .frm-unique-input {
    display: flex;
    align-items: center;
    margin-top: var(--space-size-15);

    .text-input-normal {
      margin: 0;
    }

    span {
      margin: 0 var(--space-size-15) 0 var(--space-size-15);
    }
  }

  .radio-button-normal-wrap {
    .radio-button-multiline {
      .radio-button-multiline-wrap {
        p {
          @include font(
            $font-family: $hiragino-font,
            $size: var(--font-size-small)
          );
        }
      }
    }
  }

  .frm-normal-link {
    margin-top: var(--space-size-10);
  }

  ion-thumbnail {
    width: 100%;
    height: 220px;
  }

  .frm-normal-thumbnail {
    height: 250px;
  }

  ion-label,
  .text-info,
  .frm-normal-header,
  .list-dot,
  .list-example,
  p {
    & + {
      .time-input-normal,
      .text-calendar-input-normal,
      .text-search-input-normal,
      .text-selection-input-normal,
      .text-area-input-normal,
      .text-input-normal,
      .frm-normal-input,
      .frm-normal-split-wrap,
      .radio-button-normal-wrap,
      .checkbox-button-normal-wrap {
        margin-top: var(--space-size-15);
        ion-input,
        ion-item:first-child {
          margin-top: var(--space-size-15);
        }
      }
    }
  }

  .text-info,
  .text-label {
    margin: var(--space-size-15) 0 0 0;

    .text-small {
      flex-shrink: 0;
      line-height: 1.6;
    }
  }

  span {
    ion-icon {
      width: calc(var(--space-size-20) + 4px);
      height: calc(var(--space-size-20) + 4px);
      line-height: 16px;
      vertical-align: -5px;
      cursor: pointer;
      fill: var(--ion-form-icon-color);
    }
  }
  // ***** 2021/12/07 障害対応 #86237 CAP AIWEI 変更 START *****
  &[FRM-00] {
    margin-top: var(--space-size-40);
  }
  // ***** 2021/12/07 障害対応 #86237 CAP AIWEI 変更 END *****

  &[FRM-07-01] {
    .text-info > .text-normal {
      .confirm-number {
        margin-right: var(--space-size-15);
      }
    }
    .frm-normal-header {
      .text-normal {
        margin: var(--space-size-10) 0 0 0;
        a {
          ion-icon {
            margin-top: -4px;
          }
        }
      }
      .list-dot {
        margin-top: var(--space-size-10);
        li:last-child {
          margin-bottom: var(--space-size-0);
        }
      }
      & + .list-dot {
        margin: var(--space-size-15) 0 0 0;
      }
    }

    .text-info + .list-dot,
    .list-example {
      margin: var(--space-size-10) 0 0 0;
      li:last-child {
        margin-bottom: var(--space-size-0);
      }
    }
  }

  .frm-normal-split-wrap {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: var(--space-size-15);

    .frm-normal-input {
      width: 100%;
      ion-label {
        width: 100%;
      }

      .text-input-normal {
        margin-top: var(--space-size-5);
      }

      + .frm-normal-input {
        margin-top: 0;
      }
    }
  }

  .text-selection-input-multiline:first-child {
    margin: var(--space-size-15) 0 0 0;
  }
}

/* frm-map-01 */
.frm-map-01 {
  margin: var(--space-size-30) 0 0 0;

  .text-normal {
    margin: 0;
  }

  .frm-map-label {
    margin: var(--space-size-15) 0 0 0 !important;
  }

  .frm-map-input-wrap {
    display: grid;
    grid-template-columns: 1fr 56px;
    margin: var(--space-size-15) 0 0 0;
    column-gap: var(--space-size-10);

    .frm-map-input {
      margin: 0;
    }

    ion-button {
      min-width: 20px;
      margin: 0;
      --border-width: 1px;
      --border-color: var(--ion-color-custom-gold);
      --padding-start: var(--space-size-10);
      --padding-end: var(--space-size-10);
      --padding-top: var(--space-size-10);
      --padding-bottom: var(--space-size-10);

      ion-icon {
        margin: 0;
        stroke: var(--ion-form-icon-color);
      }
    }
  }
}
