/*
 * loading-edsp
 * ----------------------------------------------------------------------------
 *
 */

.loading-edsp {
  ion-backdrop {
    --backdrop-opacity: 0.9;
    background-color: var(--ion-color-custom-white);
  }
  .loading-wrapper {
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    padding: 0px;
    background: rgba(255, 0, 0, 0) url('assets/images/loading_edsp.gif')
      no-repeat center;
    // ローディング画像の表示サイズ
    background-size: 280px;
  }
}
