/*
 * loading
 * ----------------------------------------------------------------------------
 *
 */

.loading-circular {
  ion-backdrop {
    --backdrop-opacity: 0.9;
    background-color: var(--ion-color-custom-white);
  }
  .loading-wrapper {
    --background: transparent;
    padding: 0px;
    ion-spinner {
      width: var(--space-size-40);
      height: var(--space-size-40);
      color: var(--ion-color-custom-dark-green);
    }
  }
}
