.input-mask {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 999;
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0.6;
  filter: alpha(opacity=60);
}
