/*
 * Ionic CSS Reset
 * ----------------------------------------------------------------------------
 * Ionic Variables and Theming. For more info, please see:
 * http://ionicframework.com/docs/theming/
 */

/* A file that defines definitions commonly included from other SCSS */
@import 'fonts';

/* no margin top for the first element */
@mixin auto-margin-top-calculate($reference) {
  .link-base + .link-base {
    margin-top: 0;
  }

  .text-base + .text-base {
    margin-top: 0;
  }

  li + li {
    margin-top: 0;
  }

  .checkbox-button-split-wrap + .checkbox-button-split-wrap {
    margin-top: var(--space-size-15);
  }

  #{$reference}:first-child {
    margin-top: 0;
  }

  #{$reference}:last-child {
    margin-bottom: 0;
  }
}

/* css3-prefix */
@mixin css3-prefix($prop, $value) {
  -webkit-#{$prop}: #{$value};
  -moz-#{$prop}: #{$value};
  -ms-#{$prop}: #{$value};
  -o-#{$prop}: #{$value};
  #{$prop}: #{$value};
}

/* font
default $base-font 16px normal
use example: @include font(10px), font(optional) */
@mixin font($font-family: $base-font, $size: null, $weight: null) {
  font-weight: $weight;
  font-size: $size;
  font-family: $font-family;
}

/* radius
default 4px
use example: @include border-radius(10px) */
@mixin border-radius($corner: null, $radius: 4px) {
  @if $corner == null {
    @include css3-prefix(border-radius, #{$radius});
  } @else {
    @include css3-prefix(#{$corner}-radius, #{$radius});
  }
}

/* border
default 1px solid light grey
use example: @include border($corner: top), @include border($corner: bottom, $width: 2px) etc... */
@mixin border(
  $corner: null,
  $width: 1px,
  $style: solid,
  $color: var(--ion-color-step-150)
) {
  @if $corner == null {
    border: $width $style $color;
  } @else {
    border-#{$corner}: $width $style $color;
  }
}

/* opacity
default level 0.5 */
@mixin opacity($opacity: 0.5) {
  $IEValue: calc(#{$opacity} * 100);
  opacity: $opacity;
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=' + $IEValue +
    ')';
  filter: alpha(opacity=$IEValue);
}

/* ellipsis */
@mixin ellipsis() {
  overflow: hidden;
  white-space: nowrap;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

/* no-ellipsis */
@mixin no-ellipsis() {
  overflow: visible !important;
  white-space: normal !important;
  -ms-text-overflow: clip !important;
  -o-text-overflow: clip !important;
  text-overflow: clip !important;
}

/* keyframe */
@mixin keyframes($animation-name: animation) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}

/* animation */
@mixin animation($animation-name) {
  -webkit-animation: $animation-name;
  -moz-animation: $animation-name;
  animation: $animation-name;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
}

/* absolute position */
@mixin position-absolute($top, $right, $bottom, $left) {
  position: absolute;
  top: #{$top};
  right: #{$right};
  bottom: #{$bottom};
  left: #{$left};
}

/* absolute relative */
@mixin position-relative($top, $right, $bottom, $left) {
  position: relative;
  top: #{$top};
  right: #{$right};
  bottom: #{$bottom};
  left: #{$left};
}

/************* Break Point *****************/
@mixin pc {
  @media screen and (min-width: 641px) {
    @content;
  }
}
