.price-diff-component {
  opacity: 0;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 100;
  width: 100px;
  height: 50px;
  &.isView {
    animation: fadeInAnime forwards 0.5s 1 ease-out 0.5s normal;
  }

  .balloon {
    display: none;
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 4px;
    min-width: 110px;
    max-width: 100%;
    height: 36px;
    color: #cc0000;
    font-size: 16px;
    font-weight: bold;
    background: #fff;
    border: solid 2px #cc0000;
    border-radius: 6px;
    box-sizing: border-box;
    text-align: center;
    letter-spacing: 0.5px;
    //box-shadow: 左右の向きpx  上下の向きpx ぼかしpx 広がりpx 色 内側指定;
    box-shadow: 0px 3px 3px 2px rgba(0, 0, 0, 0.1);
    &:before {
      content: "";
      position: absolute;
      bottom: -16px;
      left: 50%;
      margin-left: -3px;
      border: 4px solid transparent;
      border-top: 12px solid #fff;
      z-index: 2;
    }
    &:after {
      content: "";
      position: absolute;
      bottom: -20px;
      left: 50%;
      margin-left: -5px;
      border: 6px solid transparent;
      border-top: 14px solid #cc0000;
      z-index: 1;
    }

    .sign {
      //font-size: 14px;
    }
    .number {
      //font-size: 16px;
    }
    .yen {
      //font-size: 14px;
    }
  }
}

@keyframes fadeInAnime {
  0% {
    opacity: 0;
    top: 20px;
  }
  100% {
    opacity: 1;
    top: 7px;
  }
}
@keyframes fadeOutAnime {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
